= render "shared/registration_header"
.new-registration
  .new-registration__body
    .new-registration__body__top
      新規会員登録!
    .new-registration__body__bottom
      .new-registration__body__bottom__mail-btn
        =link_to(member_info_users_path) do
          .new-registration__body__bottom__mail-btn__scope
            %i.fas.fa-envelope.fa-lg.new-registration__body__bottom__mail-btn__icon
            メールアドレスで登録する
      .new-registration__body__bottom__facebook-btn
        =link_to "#" do
          .new-registration__body__bottom__facebook-btn__scope
            %i.fab.fa-facebook-square.fa-2x.new-registration__body__bottom__facebook-btn__icon
            Facebookで登録する
      .new-registration__body__bottom__google-btn
        =link_to "#" do
          .new-registration__body__bottom__google-btn__scope
            %i.fab.fa-google.fa-lg.new-registration__body__bottom__google-btn__icon
            Googleで登録する

= render "shared/registration_footer"