.contents{
  background-color:#f5f5f5;
  margin: 40px auto 0;
  width: 1200px;
  height: 1500px;
  &__side{
    float: left;
    display:inline-block;
    width: 280px;
    height:100%;
    margin: 0 40px 0 0;
    .mypage__list{
      width: 280px;
      &--mp{
        position: relative;
        padding: 16px;
        background: #eee;
        font-size: 14px;
        color: black;
        border-top : solid 0.1px #f5f5f5;
        border-bottom : solid 0.1px #f5f5f5;
        .mypage-link{
          display: block;
          .sideicon{
            float:right;
          }
        }
      }
      &--li{
        position: relative;
        padding: 16px;
        background:white;
        font-size: 14px;
        color: #333;
        border-bottom : solid 0.1px #f5f5f5 ;
        cursor: pointer;
        .mypage-link{
          display: block;
          .sideicon{
            float:right;
            color: #eee;
          }
        }
      }
      &--li:hover {
        background-color: #f7f7f7;
        padding-right: 12px;
        .sideicon {
          color: #000000;
        }
      }
    }
    .mypage__head{
      margin: 40px 0 0;
      font-size: 16px;
      padding:0;
    }
  }
}