.header{
  position: relative;
  display: block;
  height: 100px;
  background-color: #fff;
  .inner{
    padding: 8px 0 0;
    width: 1020px;
    margin: auto;
    &__top{
      height: 40px;
      width: 100%;
      display: flex;
      h1{
        img{
          height: 36px;
          width: 134px;
        }
      }
      form{
        height: 40px;
        width: 100%;
        margin-left: 45px;
        position: relative;
        input{
          background: #f5f5f5;
          box-sizing: border-box;
          height: 40px;
          width: 100%;
          padding: 0 42px 0 10px;
          border-radius: 4px;
          border: 1px solid #ccc;
          outline: 0;
        }
        i{
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
        }
        .wer{
          display: none;
          // visibility: hidden;
        }
        input::placeholder{
          font-size: 15px;
        }
      }
    }
    &__nav-box{
      height: 44px;
      margin: 8px 0 0;
      line-height: 32px;
      position: relative;
      &--left{
        height: 44px;
        float: left;
        ul{
          display: flex;
          li{
            padding: 0 11px 0 0;
            h2{
              font-size: 13px;
              font-weight: bold;
              text-align: center;
              .fa-list-ul{
                color: red;
              }
              .fa-tag{
                color: red;
              }
            }
          }
        }
      }
      &--right{
        height: 44px;
        float: right;
        ul{
          display: flex;
          li{
            font-size: 14px;
            padding: 0 14px;
            .fa-bell{
              color: gray;
            }
            .fa-check{
              color: gray;
            }
            .profile_icon{
              width: 32px;
              border-radius: 15px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

.inner__nav-box--left--category, .inner__nav-box--left--brand {
  height: 45px;
  cursor: pointer;
}

.category-navigation {
  position: absolute;
  top: 43px;
  width: 200px;
  background-color: #ffffff;
  z-index: 200;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  display: none;
  &__bar {
    &__list {
      padding-left: 10px;
      height: 44px;
      line-height: 50px;
      font-size: 13px;
    }
    &__list:hover {
      background-color: #ea352d;
      color: #ffffff;
    }
  }
}

.brand-navigation {
  position: absolute;
  top: 43px;
  left: 143px;
  width: 200px;
  background-color: #ffffff;
  z-index: 200;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  display: none;
  &__bar {
    &__list {
      padding-left: 10px;
      height: 44px;
      line-height: 50px;
      font-size: 13px;
    }
    &__list:hover {
      background-color: #ea352d;
      color: #ffffff;
    }
  }
}