.pan{
  padding-left: 210px;
  height: 30px;
  // width: 100%;
  font-size: 14px;
  box-shadow: 2px 2px 2px 2px #d4d2d2;
  border-top: solid 1px #f5f5f5f5;
  background-color: #ffffff;
  line-height: 30px;
}