= render "shared/registration_header"
.complete
  .complete__body
    .complete__body__top
      会員登録完了
    .complete__body__sentence
      ありがとうございます。
    .complete__body__sentence-2
      会員登録が完了しました。

    =link_to "#" do
      .complete__body__btn
        メルカリをはじめる
= render "shared/registration_footer"