= render "shared/main_header"
= render "shared/ishii_pankuzu"
.logout
  = render "shared/main_sidebar"
  .logout__box
    / =link_to "#" do
    .logout__box__padding
      =link_to "#" do
        .logout__box__padding__logout-btn
          ログアウト

=render "shared/main_footer"
= render "shared/exhibition_btn"
