%section.category-item-box
  %figure.category-item-box__photo
    %img{src:"https://sawamura.site/wp-content/uploads/2018/08/pic_main_472.png"}
    %figcaption
      .category-item-sold-out-badge
        .category-sold-label
          SOLD
  .category-item-box__body
    %h3.category-item-box__body--name TECH::EXPERT 渋谷校
    .category-item-box__body--num
      .category-price ¥ 99,999,999円
      .category-add-heart
        %i.far.fa-heart
        %span 12