.pankuzu
  .pankuzu__body
    %ul.pankuzu__body__text
      %li.pankuzu__body__text__list
        =link_to "#" do
          %span.pankuzu__body__text__list__font
            メルカリ
        %i.fas.fa-chevron-right.pankuzu__body__text__list__icon
        =link_to "#" do
          %span.pankuzu__body__text__list__font
            マイページ
        %i.fas.fa-chevron-right.pankuzu__body__text__list__icon
        %span.pankuzu__body__text__list__font-last
          購入した商品 - 取引中