%section.item-box
  %figure.item-box__photo
    = image_tag("https://sawamura.site/wp-content/uploads/2018/08/pic_main_472.png")
    %figcaption
      - if product.trade_status == 2 || product.trade_status == 3
        .item-sold-out-badge
          .sold-label
            SOLD
  .item-box__body
    %h3.item-box__body--name
      = product.name
    .item-box__body--num
      .price
        ¥
        = product.price.to_s(:delimited)
      .add-heart
        %i.far.fa-heart
        %span 12