%section.item-box
  %figure.item-box__photo
    %img{src:"https://sawamura.site/wp-content/uploads/2018/08/pic_main_472.png"}
    %figcaption
      .item-sold-out-badge
        .sold-label
          SOLD
  .item-box__body
    %h3.item-box__body--name TECH::EXPERT 渋谷校
    .item-box__body--num
      .price ¥ 999,99999円
      .add-heart
        %i.far.fa-heart
        %span 12