.member-info {
  background-color: #f5f5f5;
  &__body {
    width: 700px;
    background-color: #ffffff;
    margin: 0 auto;
    padding-bottom: 64px;
    &__top {
      height: 97px;
      text-align: center;
      line-height: 97px;
      font-size: 22px;
      font-weight: bold;
      border-bottom: 1px solid #eeeeee;
    }
    &__main {
      width: 343px;
      padding-top: 40px;
      margin: 0 auto;
      &__text {
        font-size: 14px;
      }
      &__mark {
        font-size: 12px;
        color: #ffffff;
        padding: 3px;
        border-radius: 3px;
        background-color: #ea352d
      }
      &__input {
        margin-bottom: 32px;
        &__box {
          width: 328px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          margin-top: 5px;
          padding: 0 20px;
          box-sizing: border-box;
        }
        .error-message{
          color: #ea352d;
          line-height: 1.5;
          font-size: 14px;
          margin: 8px 0 0;
        }
/*        &__box::placeholder {
          padding-left: 20px;
        }*/
        &__box-name {
          width: 155px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          margin-top: 5px;
          margin-right: 5px;
          padding: 0 20px;
          box-sizing: border-box;
          float: left;
        }
        &__box-name-bottom {
          width: 155px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          margin-top: 5px;
          padding: 0 20px;
          box-sizing: border-box;
        }
        &__box-date {
          width: 76px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          margin-top: 5px;
        }
      }
      &__identification {
        &__title {
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        &__contents {
          font-size: 14px;
          margin-bottom: 32px;
        }
      }
      &__note {
        padding-bottom: 32px;
        &__text {
          font-size: 14px;
        }
      }
      &__agree {
        margin-top: 32px;
        &__text {
          font-size: 14px;
          text-align: center;
          &__blue {
            color: #0099e8;
          }
        }
      }
      &__next-btn {
        width: 343px;
        height: 50px;
        background-color: #ea352d;
        color: #ffffff;
        text-align: center;
        line-height: 50px;
        font-size: 14px;
        margin: 32px 0;
        cursor: pointer;
      }
      &__about {
        text-align: right;
        &__text {
          font-size: 14px;
          color: #0099e8;
        }
      }
    }
  }
}