%header.header
  .inner
    .inner__top
      %h1
        %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966"}
      %form.header-form
        %input{placeholder: '何かお探しですか?', class: 'input-default'}
        %i.fa.fa-search
    .inner__nav-box
      %nav.inner__nav-box--left
        %ul
          %li
            %h2
              %i.fa.fa-list-ul
              カテゴリーから探す
          %li       
            %h2
              %i.fa.fa-tag
              ブランドから探す
      .inner__nav-box--right
        %ul
          %li
            %i.fa.fa-bell
            お知らせ
          %li
            %i.fa.fa-check
            やることリスト
          %li
            %img{src: "//static.mercdn.net/images/member_photo_noimage_thumb.png",class: 'profile_icon'}
            マイページ