.item{
  width: 620px;
  padding: 24px 40px 40px;
  background-color: #fff;
  margin: 40px auto 0;
  text-align: center;
  &__name{
    font-size: 24px;
    font-weight: bold;
  }
  &__detail{
    margin: 8px 0 0;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
  }
  .item-content{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: relative;
    &__item-sold-out-badge:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 10px;
      z-index: 1;
      border-style: solid;
      border-width: 100px 100px 0 0;
      border-color: #ea352d transparent;
    }
    &__sold-label{
      position: absolute;
      top: 15px;
      left: 10px;
      z-index: 2;
      color: #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      letter-spacing: 2px;
      font-size: 22px;
      font-weight: 600;
    }
    &__left{
      &--photo{
        background-color: #fafafa;
        min-width: 300px;
        max-width: 300px;
        min-height: 375px;
        .big-photo{
          float: left;
          min-width: 200px;
          max-width: 300px;
          height: 300px;
          margin: 0 auto;
        }
        .mini-photos{
          &__active{
            .mini-photo{
              float: left;
              width: 60px;
              height: 60px;
            }
          }
          &__not-active{
            .mini-photo{
              float: left;
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }
    &__right{
      &--table{
        width: 300px;
        height: 420px;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
        tbody{
          tr{
            th{
              width: 39%;
              padding: 8px;
              text-align: left;
              font-size: 0.8rem;
              font-weight: 400;
              border: 1px solid #f5f5f5;
              background: #fafafa;
            }
            td{
              width: 61%;
              padding: 8px;
              font-size: 0.8rem;
              text-align: left;
              background: #fff;
              .item-user-rating{
                display: flex;
                &__icon{
                  margin-right: 10px;
                  .icon-good{
                    color: #ef5185;
                    font-size: 1rem;
                  }
                  .icon-not-good{
                    color: #fba933;
                    font-size: 1rem;
                  }
                  .icon-bad{
                    color: #6ab5d8;
                    font-size: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &__price-box{
    margin: 24px 0;
    display: flex;
    justify-content: center;
    &--price{
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: bold;
    }
    &--tax{
      font-size: 10px;
      margin-top: 44px;
      margin-right: 3px;
    }
    &--shipping-fee{
      font-size: 16px;
      margin-top: 37px;
    }
  }
  .item-buy-btn{
    display: block;
    text-decoration: none;
    height: 56px;
    line-height: 56px;
    font-weight: 600;
    font-size: 24px;
    margin: 16px 0 0;
    color: #fff;
    background: #ea352d;
  }
  .item-soldout-btn{
    display: block;
    text-decoration: none;
    height: 56px;
    line-height: 56px;
    font-weight: 600;
    font-size: 24px;
    margin: 16px 0 0;
    color: #fff;
    background: #888888;
  }
  &__description{
    padding: 32px 0 0;
    &--inner{
      text-align: left;
      font-size: 18px;
      line-height: 2rem;
    }
  }
  &__button-container{
    margin: 16px 0 0;
    display: flex;
    justify-content: space-between;
    &--left{
      .button-like{
        background: #f5f5f5;
        border-radius: 40px;
        padding: 8px 16px;
        span{
          font-size: 14px;
        }
      }
      .button-report{
        background: #f5f5f5;
        border-radius: 40px;
        padding: 8px 16px;
        margin: 0 0 0 16px;
        span{
          font-size: 14px;
          color: black;
        }
      }
    }
    &--right{
      .policy-safe{
        color: #0099e8;
        span{
          font-size: 14px;
        }
      }
    }
  }
}


/*販売者と購入者のやりとり欄*/
.message{
  width: 620px;
  background-color: #fff;
  margin: 8px auto;
  padding: 24px 40px 40px;
  &__content{
    padding: 24px 0;
    &--items{
      .message-item{
        margin: 60px 0 0;
        display: flex;
        .message-user{
          position: relative;
          figure{
            position: absolute;
            left: -60px;
            top: -20px;
            .message-user-icon{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              position: relative;
            }
            figcaption{
              font-weight: 600;
              font-size: 13px;
              position: absolute;
              top: -20px;
              left: 56px;
              color: black;
            }
            .message-is-seller{
              font-size: 12px;
              text-align: center;
              color: black;
              background-color: #eef0f4;
            }
          }
        }
        &__body{
          width: 560px;
          background: #eef0f4;
          border-radius: 15px;
          line-height: 2;
          padding: 16px;
          font-size: 14px;
          left: 30px;
          position: relative;
          .baloon-icon{
            position: absolute;
            top: 8px;
            left: -9px;
            color: #eef0f4;
          }
          &--text{

          }
          &--icons{
            color: #aaa;
            display: flex;
            justify-content: space-between;
            time{
              .clock-icon{
              }
            }
            button{
              background-color: transparent;
              color: #aaa;
              border: 0;
              outline:0;
              cursor: pointer;
              .flag-icon{

              }
            }
          }
        }
      }
      li:first-child{
        margin: 1.5em 0 0;
      }
    }
  }
}
.message-form{
  width: 668px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 8px 16px;
  p{
    padding: 8px;
    font-size: 0.8rem;
    background: #fff6de;
    margin:0 auto;
  }
  textarea{
    box-sizing:border-box;
    width: 668px;
    min-height: 104px;
    margin: 8px 0 0;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
  }
  .comment-submit-button {
    margin: 8px 0 0;
    text-align: center;
    background: #aaa;
    border: 1px solid #aaa;
    line-height: 48px;
    &__cursor {
      cursor: pointer;
    }
    span{
      font-size: 14px;
    }
  }
  .comment-button-text {
    color: white;
    font-size: 14px;
  }
}


/*次のアイテムへの遷移*/
.item-prev-next{
  width: 700px;
  margin: 24px auto 0;
  display: flex;
  justify-content: space-between;
  .prev-next-btn{
    color: #0099e8;
    font-size: 14px;
    &__left{

    }
    &__right{

    }
  }
}


/*シェアボタン群*/
.social-media-buttons{
  margin: 24px auto;
  padding: 24px 40px 40px;
  width: 620px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/41l7ijWCGSL._SY355_.jpg);
  ul{
    margin: 16px 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    li{
      margin: 0 5px;
      .fa-facebook-square{
        color: #3B5998;
        border-radius: 4px;
        line-height: 44px;
        font-size: 3rem;
      }
      .fa-twitter-square{
        color: #1DA1F2;
        border-radius: 4px;
        line-height: 44px;
        font-size: 3rem;
      }
      .fa-pinterest-square{
        color: #BD081C;
        border-radius: 4px;
        line-height: 44px;
        font-size: 3rem;
      }
    }
  }
}

.user-product-show-link-index {
  margin-right: 20px;
}

.user-product-show-link {
  margin-right: 20px;
}

.user-product-show-link:nth-child(3n){
  margin-right: 0;
}