.registration-footer
  .registration-footer__box
    .registration-footer__box--text
      = link_to "プライバシーポリシー", "#", class:"li privacy"
      = link_to "メルカリ利用規約", "#", class:"li tos"
      = link_to "特定商取引に関する表記", "#", class:"li tokutei"
    .registration-footer__box--img
      = link_to "#" do
        %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3135490372"}
    .registration-footer__box--credit
      © 2019 Mercari